

<div class="card" style="width: 18rem;">
    <img src="~/images/mohsen.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Mohsen Alizadeh May, 2025</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">+44 7932 742 686</h6>
        <p class="card-text">C# Developer Assessment</p>
        <a href="mailto:M.Alizadeh.net@outlook.com" class="card-link">Email</a>
        <a href="https://www.linkedin.com/in/mo-aliz/" class="card-link">LinkedIn</a>
    </div>
</div>