@model Assessment.Application.ViewModels.EmployeeViewModel

@{
    ViewData["Title"] = "Delete Employee";
}

<h1>Delete Employee</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Job Position</dt>
        <dd class="col-sm-10">@Model.JobPosition</dd>
        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.Email))
            {
                <img src="@Model.Email" alt="Employee Email" width="120" />
            }
        </dd>
    </dl>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>